body{
    font-family:Comic Sans MS, Comic Sans, cursive;
    color: #344E41;
    text-align: center;
    background-image: url('media/background-tile.jpg');
    background-size: 350px auto;
    line-height:2;
}

h1{
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3.5em;
    margin-bottom:5px;
}

h2{
    font-size: 1.6em;
}

p{
    color: #637a58;
    font-size:20px;
    margin-left:20%;
    margin-right:20%;
}

img.left{
    float:left;
    margin-left:20%;
    margin-right:5%;
}

.lefttrack{
    color: #637a58;
    text-align:center;
    font-size:20px;
    margin-right:5px;
}

img.center{
    margin-left:5px;
    float:none;
}

.righttrack{
    color: #637a58;
    text-align:center;
    font-size:20px;
}

img.right{
    float:right;
    margin-right:20%;
    margin-left:5%;
}

ul, table{
    line-height: 2;
    text-align: center;
    max-width: 700px;
    margin: 0 auto 1em auto;
    font-size:20px;
}

table{
    background-color:white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

th, td {
    border: 1px solid #c6d6be;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

th{
    background-color:#e9f5e3;
}