body{
    /*font*/font-family:Comic Sans MS, Comic Sans, cursive;
    /*color*/color: #344E41;
    /*text-align*/text-align: center;
    background-image: url('media/background-tile.jpg');
    /*repeating tiled background*/
    background-repeat: repeat;
    background-size: 350px auto;
    line-height:2;
    /*cursor*/cursor: url('media/spade-cursor.png') 10 10, auto;
}

h1{
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 3.5em;
    margin-bottom:5px; /*margins*/
}

h2{
    /*font size*/font-size: 1.6em;
}

p{ /*element selector*/
    color: #637a58;
    font-size:20px;
    margin-left:20%;
    margin-right:30%
}

img.left{
    float:left;
    margin-left:25%;
    margin-right:1%;
}

img.center{
    margin-left:5px;
    float:none;
}

img.right{
    float:right;
    margin-left:20px;
}

ul, table{
    line-height: 2;
    text-align: center;
    max-width: 700px;
    margin: 0 auto 1em auto;
    font-size:20px;
}

table{
    background-color:white;
    border-radius: 10px;
    /*box-shadow*/box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

th, td {
    border: 1px solid #c6d6be;
    /*borders*/
    border-radius: 7px;
    padding-left: 10px;
    /*padding*/
    padding-right: 10px;
}

th{
    background-color:#e9f5e3;
}

ul{
    line-height: 1.25;
    color: #344E41;
}

.leftschool{
    color: #637a58;
    font-size:20px;
    float: left;
}

.leftalignment{
    background-color:transparent;
    box-shadow: none;
    max-width:60%;
}

table.tracktable{
    max-width:90%;
    table-layout: fixed;
    background-color: transparent;
    box-shadow: none;
    margin-right:15%;
}

td.tracktable{
    word-wrap: break-word;
    max-width:405px;
}

p.track{
    margin:0px;
    margin-bottom:5px;
}

.butterfly{
    float:right;
    margin-left:1px;
    margin-right: 25%;
}

.daisy{
    margin-left:70px;
    margin-right:0px;
}

a{
    color: #637a58;
}